<figure class="o-flag  c-author  {% if include.padding-none %}u-padding-none{% endif %}"
        itemprop="image"
        itemscope
        itemtype="http://schema.org/ImageObject">

  <div class="o-flag__img  c-author__photo">

    <a href="/">
      <img src="{{ site.author.avatar }}"
           srcset="{{ site.author.avatar }} 1x, {{ site.author.avatar2x }} 2x"
           alt="{{ site.author.avatar_alt }}"
           width="120"
           height="120"
           itemprop="contentUrl">
    </a>

  </div>

  <figcaption class="o-flag__body  c-author__bio"
              itemprop="description">{{ site.author.bio }}</figcaption>

</figure><!-- /c-author -->
