<section class="c-bookcase"
         itemscope
         itemtype="http://schema.org/ItemList">

  {% if include.title %}
    <h1 class="c-bookcase__headline"
        itemprop="name">{{ include.title }}</h1>
  {% endif %}

  <ul class="o-layout  c-bookcase__list">
    {% for book in site.books limit:include.limit %}<!--
   --><li class="o-layout__item  c-bookcase__item  u-1/3@tablet  u-1/1@mobile"
          itemprop="itemListElement"
          itemscope
          itemtype="http://schema.org/ListItem">
        {% include book.html book=book %}
      </li><!--
 -->{% endfor %}
  </ul>

  {% if include.limit %}
    {% include see-more.html label=include.see-more permalink=include.permalink %}
  {% endif %}

</section><!-- /c-bookcase -->
