<article class="o-block  c-book"
         itemprop="item"
         itemscope
         itemType="http://schema.org/BlogPosting">

  <a class="c-book__link"
     href="{{ include.book.url }}">

    <div class="o-block__img  c-book__cover">
      <img src="{{ include.book.image }}"
           srcset="{{ include.book.image }} 1x, {{ include.book.image2x }} 2x"
           width="auto"
           height="200"
           itemprop="thumbnail">
    </div>

    <div class="o-block__body">

      {% include rating.html rating=include.book.book-details.rating %}

      <h4 class="c-book__headline"
          itemprop="name headline">{{ include.book.title }}</h4>

      <p class="c-book__excerpt"
         itemprop="description">{{ include.book.excerpt | remove: '<p>' | remove: '</p>' }}</p>

    </div>

  </a>

  <link href="{{ include.book.url }}"
        itemprop="url" />

</article><!-- /c-book -->
