<nav class="site-nav"
     role="navigation"
     itemscope
     itemtype="http://schema.org/SiteNavigationElement">

  <div class="o-wrapper">

    <ul class="site-nav__list">
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li class="site-nav__item">
          <a class="site-nav__link"
             href="{{ my_page.url | relative_url }}"
             title="{{ my_page.title | escape }}"
             itemprop="name">{{ my_page.title | escape }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>

  </div>

</nav><!-- /site-nav -->
