<section class="c-posts-list"
         itemscope
         itemtype="http://schema.org/ItemList">

  {% if page.layout == "default" %}
    <h2 class="c-posts-list__title"
        itemprop="name">{{ site.data.posts-list.title }}</h2>
  {% else %}
    <h1 class="c-posts-list__title"
        itemprop="name">{{ page.title }}</h1>
  {% endif %}

  <ul class="o-list-bare  c-posts-list__list">
    {% for post in site.posts limit:include.limit %}
      <li class="c-posts-list__item"
          itemprop="itemListElement"
          itemscope
          itemtype="http://schema.org/ListItem">

        <article itemprop="item"
                 itemscope
                 itemType="http://schema.org/BlogPosting"
                 itemid="{{ post.url }}">
          {% include post-head.html %}
        </article>

      </li>
    {% endfor %}
  </ul>

  {% if page.layout == "default" %}
    <div class="c-posts-list__more-posts">

      <a class="c-btn  c-btn--secondary  c-btn--ghost"
         href="{{ site.data.posts-list.permalink }}">{{ site.data.posts-list.more-posts }}</a>

      <link href="{{ site.data.posts-list.permalink }}"
            itemprop="url" />

    </div>
  {% endif %}

</section><!-- /c-posts-list -->
