<section class="c-posts-list"
         itemscope
         itemtype="http://schema.org/ItemList">

  {% if page.layout == "default" %}
    <h2 class="c-posts-list__title"
        itemprop="name">{{ site.data.posts-list.title }}</h2>
  {% else %}
    <h1 class="c-posts-list__title"
        itemprop="name">{{ page.title }}</h1>
  {% endif %}

  <ul class="o-list-bare  c-posts-list__list">
    {% if page.layout == "default" %}

      {% for post in site.posts limit:3 %}
        {% unless post.categories contains 'books' %}
          {% include posts-list-item.html %}
        {% endunless %}
      {% endfor %}

    {% else %}

      {% for post in site.posts %}
        {% unless post.categories contains 'books' %}
          {% include posts-list-item.html %}
        {% endunless %}
      {% endfor %}

    {% endif %}
  </ul>

  {% if page.layout == "default" %}
    <a href="{{ site.data.posts-list.permalink }}"
       title="{{ site.data.posts-list.more-posts }}">{{ site.data.posts-list.more-posts }}</a>

    <link href="{{ site.data.post-list.permalink }}"
          itemprop="url" />
  {% endif %}

</section><!-- /c-posts-list -->
