<nav class="c-site-nav"
     role="navigation"
     itemscope
     itemtype="http://schema.org/SiteNavigationElement">

  <div class="o-wrapper">

    <ul class="o-pack  c-site-nav__list">
      {% for page in site.pages %}
        {% if page.headline %}
        <li class="o-pack__item  c-site-nav__item">
          <a class="c-site-nav__link"
             href="{{ page.url | relative_url }}"
             itemprop="name">{{ page.headline | escape }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>

  </div>

</nav><!-- /c-site-nav -->
