/* ==========================================================================
   #COLORS
   ========================================================================== */

// Color palette

$color-anti-flash-white:    #f1f1f1;
$color-apple-green:         #84bd00;
$color-black-olive:         #3F3D41;
$color-charcoal:            #3a4250;
$color-gainsboro:           #dcdbcd;
$color-pastel-gray:         #cacacb;
$color-white:               #fff;





// UI color application
$color-brand:                       $color-apple-green;
$color-text:                        $color-black-olive;





// Site nav

$color-site-nav-background:         $color-charcoal;
$color-site-nav-link:               $color-white;
$color-site-nav-link-background:    rgba($color-white, 0.2);





// Page head

$color-page-head:                   $color-white;
$color-page-head-background:        $color-brand;





// Posts list

$color-posts-list-border:           $color-gainsboro;





// Links

$color-links:                       $color-brand;
$color-links-hover:                 $color-text;





// Date

$color-date:                        $color-pastel-gray;





// Buttons

$color-btn-primary:                 $color-white;
$color-btn-primary-background:      $color-brand;
$color-btn-primary-hover:           $color-text;

$color-btn-secondary:               $color-white;
$color-btn-secondary-background:    $color-pastel-gray;
$color-btn-secondary-hover:         $color-text;





// Social media

$color-social-media:                $color-pastel-gray;
$color-social-media-hover:          $color-text;





// Page foot

$color-page-foot:                   $color-text;





// Bookcase

$color-bookcase:                    $color-text;
$color-bookcase-border:             $color-gainsboro;





// Book

$color-book-background:            $color-anti-flash-white;
$color-book-hover:                 darken($color-anti-flash-white, 10%);
