/* ==========================================================================
   #GLOBAL
   ========================================================================== */

// Standardise some UI treatments.

$global-radius: 3px;
$global-transition: (1/3) + s;


// Typography

$base-font-family:        'Source Sans Pro', Helvetica, Arial, sans-serif;
