/* ==========================================================================
   #COLORS
   ========================================================================== */

// Color palette

$color-anti-flash-white:    #f1f1f1;
$color-charcoal:            #2e3c54;
$color-dark-gunmetal:       #1b2432;
$color-light-gray:          #cdcfd2;
$color-quick-silver:        #a1a4aa;
$color-slate-blue:          #6a67ce;
$color-white:               #fff;
$color-spanish-gray:        #999;
$color-gainsboro:           #ddd;
$color-medium-purple:       #a177ff;





// UI color application
$color-brand:                       $color-slate-blue;
$color-text:                        $color-dark-gunmetal;





// Site nav

$color-site-nav-background:         $color-charcoal;
$color-site-nav-link:               $color-white;
$color-site-nav-link-background:    hsla(0,0%,100%,.18);





// Page head

$color-page-head:                   $color-white;
$color-page-head-background:        $color-brand;





// Posts list

$color-posts-list-border:           $color-gainsboro;
$color-posts-list-background:       $color-white;




// Links

$color-links:                       $color-brand;
$color-links-hover:                 $color-medium-purple;





// Date

$color-date:                        $color-spanish-gray;





// Buttons

$color-btn-primary:                 $color-white;
$color-btn-primary-hover:           $color-medium-purple;
$color-btn-primary-background:      $color-brand;
