/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

blockquote {
  @include font-size(20px);
  color: $color-blockquote;
  padding-left: $unit;
  border-left: 4px solid $color-blockquote;
  margin-left: $unit;

  &:before {
    content: '\201C';
  }

  &:after {
    content: '\201D';
  }

}
