/* ==========================================================================
   #CODE
   ========================================================================== */

code, kbd, samp {
  display: block;
  font-family: $code-font-family;
  overflow-y: scroll;
}
