/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

blockquote {
  @include font-size(18px, false);
  @extend .c-icon--quotes-left;
  border-left: 4px solid $color-blockquote;
  font-style: italic;
  margin-top: 40px;
  padding: $unit-small $unit-large;
  position: relative;

  @include mq($until: tablet) {
    @include font-size(16px, false);
    padding: $unit-tiny $unit;
  }

  &:before {
    @extend .c-icon;
    @include font-size(16px, false);
    background: $color-blockquote;
    border-radius: 50%;
    color: $color-blockquote-icon;
    height: 32px;
    left: -18px;
    line-height: 32px!important;
    position: absolute;
    text-align: center;
    top: -16px;
    width: 32px;
  }

}
