/* ==========================================================================
   #BLOCKQUOTES
   ========================================================================== */

blockquote {
  @include font-size(20px, false);
  color: $color-blockquote;
  padding-left: $unit;
  border-left: 4px solid $color-blockquote;
  margin-left: $unit;

  p:first-child:before {
    content: '\201C';
  }

  p:last-child:after {
    content: '\201D';
  }

}
