/* ==========================================================================
   #BOOK
   ========================================================================== */

.c-book {
  &:hover,
  &:focus {
    .c-book__cover {
      background: $color-book-hover;
    }
  }
}


  .c-book__cover {
    background: $color-book-background;
    box-sizing: content-box;
    margin-bottom: $unit-tiny;
    max-height: 200px;
    padding: $unit-small 0;
    text-align: center;

    img {
      max-height: inherit;
    }
  }


  .c-book__headline {
    margin: $unit-tiny 0;
  }


  .c-book__excerpt {
    @include font-size(16px, false);
    margin-bottom: 0;
  }
