/* ==========================================================================
   #SITE-NAV
   ========================================================================== */

/**
 * The site-nav component simply displays a list of items in one line.
 */

.c-site-nav {
  background: $color-site-nav-background;
}


  .c-site-nav__list {
    margin-bottom: 0;
  }


    .c-site-nav__item {
      text-align: center;

      @include mq($until: tablet) {
        display: block;
      }
    }


      .c-site-nav__link {
        @include font-size(14px, false);
        color: $color-site-nav-link;
        display: block;
        letter-spacing: 3px;
        padding: $unit 0;
        text-transform: uppercase;

        @include mq($until: tablet) {
          padding: $unit-small 0;
        }

        &:hover,
        &:focus {
          background: $color-site-nav-link-background;
          border-bottom: 0;
          color: $color-site-nav-link;
        }
      }
