/* ==========================================================================
   #NOTEBOOK
   ========================================================================== */

.c-notebook {
  padding: $unit-large 0;
  border-bottom: 1px solid $color-notebook-border;
}


  .c-notebook__headline {
    text-align: center;
    margin-bottom: $unit-large;
  }


  .c-notebook__list {
    margin-bottom: $unit-large;
  }


    .c-notebook__item {
      border-bottom: 1px solid $color-notebook-border;
      margin-top: $unit;
    }
