/* ==========================================================================
   #PROJECT
   ========================================================================== */

.c-project {
  margin-bottom: $unit;
}


  .c-project__banner {
    margin-bottom: $unit;
  }


  .c-project__headline {
    margin-bottom: $unit-small;
    text-align: center;
    text-transform: uppercase;
  }


  .c-project__btn {
    text-align: center;
  }
