/* ==========================================================================
   #PAGE-CONTENT
   ========================================================================== */

.c-page-content {
  padding: $unit-large 0;
  border-bottom: 1px solid $color-page-content-border;

  p {
    line-height: 1.5;
  }

  h2 {
    border-top: 1px solid $color-page-content-border;
    margin: $unit-large 0 $unit-small;
    padding: $unit 0;
    text-align: center;
  }
}


  .c-page-content__headline {
    text-align: center;
    margin-bottom: $unit-large;
  }
