/* ==========================================================================
   #AUTHOR
   ========================================================================== */

.c-author {
  margin-bottom: 0;
  padding: 0 $unit;

  @include mq($until: tablet) {
    text-align: center;
  }
}


  .c-author__photo {
    @include mq($until: tablet) {
      padding-right: 0;
    }

    img {
      border-radius: 50%;
    }
  }


  .c-author__bio {
    @include mq($until: tablet) {
      display: none;
    }
  }





/* Style variants
   ========================================================================== */

.c-author--shaded {
  background: $color-author-background;
  padding: $unit;
}
