/* ==========================================================================
   #BOOK
   ========================================================================== */

.c-book {
  text-align: center;
}


  .c-book__link {
    color: $color-book;
    display: block;
    padding: $unit-small;

    &:hover,
    &:focus {
      color: $color-book;
      background: $color-book-background;
    }
  }


  .c-book__cover {
    box-sizing: content-box;
    margin-bottom: $unit-small;
    max-height: 200px;

    img {
      max-height: inherit;
    }
  }


  .c-book__headline {
    color: $color-book-headline;
    margin: $unit-tiny 0;
  }


  .c-book__excerpt {
    @include font-size(16px, false);
    margin-bottom: 0;
  }
