/* ==========================================================================
   #BOOK-DETAILS
   ========================================================================== */

.c-book-details {
  background: $color-book-details-background;
  margin-bottom: $unit-large;
  padding: $unit;
  position: relative;

  @include mq($until: tablet) {
    margin-bottom: $unit;
    padding: $unit-small;
    text-align: center;
  }

  small {
    display: block;
  }
}


  .c-book-details__cover {
    @include mq($until: tablet) {
      display: inline-table;
      float: none;
      margin: 0 auto $unit;
      padding-right: 0;
    }
  }


  .c-book-details__body {
    @include mq($until: tablet) {
      display: block;
    }
  }


  .c-book-details__title {
    margin-bottom: 0;
  }


  .c-book-details__details {
    @include font-size(14px, false);
  }


  .c-book-details__descriptions {
    margin-bottom: 0;

    @include mq($until: tablet) {
      display: none;
    }
  }
