---
layout: default
---

<article class="c-post"
         temscope
         itemtype="http://schema.org/BlogPosting">

  {% if page.book-details %}
    {% include book-details.html details=page.book-details %}
  {% endif %}

  {% include post-head.html date=page.date title=page.title %}

  <div class="c-post__content"
       itemprop="articleBody">
    {{ content }}
  </div>

  {% include author.html %}

  {% if site.disqus.shortname %}
    {% include disqus-comments.html %}
  {% endif %}

</article><!-- /c-post -->
